* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
.container {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.box {
    width: 950px;
    height: 600px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
}
h1 {
    padding: 20px;
    letter-spacing: 5px;
    text-shadow: 0 5px 20px black;
}
.inner-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.left-box .img-first {
    transform: rotateY(180deg);
}
.img-first, .img-second {
    display: block;
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
}

#imgs {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    
}
.score, .score2 {
    padding: 20px;
    font-size: 22px;
}
span {
    padding: 10px 20px;
    font-size: 30px;
    color: orange;
}
.result {
    height: 40px;
    font-size: 40px;
    color: red;
}
#btn {
    padding: 10px 30px;
    margin: 10px 20px;
    font-size: 30px;
    border-radius: 20px;
    outline: none;
    border: 2px solid tomato;
    cursor: pointer;
    transition: transform .4s ease-out;
}
#btn:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 20px black;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
}
.left-box, .right-box {
    transition: opacity .4s ease-in-out;
}
.fade {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}
.play {
    padding: 20px;
    align-self: flex-end;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: opacity .4s ease-out;
}
.play:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px black;
}

